<div class="jumbotron"> <!-- style="background: url(https://mispy.me/images/gradientoverlay.png); -->
  <h1>
    Sobre Ruby on Rails
  </h1>

  <p>
    É incrível por estar diminuindo as barreiras para entrar no mundo da programação. Aplicações web
    poderosas que geralmente demoram semanas ou meses para serem desenvolvidas agora necessitam somente de uma questão
    de dias.
  </p>

  <p>
    <a class="btn btn-primary btn-large" href="/premio/descricao">Leia mais</a>
  </p>
</div>

<h1>Notícias</h1>
<hr/>

<%= helper_noticia_list_thumbnail(Conteudo.where_noticia.order_by_data_publicacao.limit(3)) %>
